USE [master]
GO
/****** Object:  Database [holm]    Script Date: 02.10.2023 12:27:55 ******/
CREATE DATABASE [holm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'holm', FILENAME = N'D:\sql2\MSSQL15.SQLEXPRESS\MSSQL\DATA\holm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'holm_log', FILENAME = N'D:\sql2\MSSQL15.SQLEXPRESS\MSSQL\DATA\holm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [holm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [holm]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 02.10.2023 12:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[ser] [int] NOT NULL,
	[nom] [int] NOT NULL,
	[dr] [date] NOT NULL,
	[adres] [nvarchar](100) NOT NULL,
	[mail] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 02.10.2023 12:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[time] [time](7) NOT NULL,
	[id_client] [int] NOT NULL,
	[id_status] [int] NOT NULL,
	[date_close] [date] NULL,
	[id_time] [int] NOT NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 02.10.2023 12:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sotryd]    Script Date: 02.10.2023 12:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sotryd](
	[id] [int] NOT NULL,
	[id_role] [int] NOT NULL,
	[fio] [nvarchar](50) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[date_vhod] [date] NOT NULL,
	[id_vhod] [int] NOT NULL,
 CONSTRAINT [PK_sotryd] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 02.10.2023 12:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_prokat]    Script Date: 02.10.2023 12:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_prokat](
	[id] [int] NOT NULL,
	[time] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_time_prokat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_vhod]    Script Date: 02.10.2023 12:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_vhod](
	[id] [int] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_type_vhod] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yslygi]    Script Date: 02.10.2023 12:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yslygi](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[code] [nvarchar](25) NOT NULL,
	[price] [int] NOT NULL,
 CONSTRAINT [PK_yslygi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yslygi_orders]    Script Date: 02.10.2023 12:27:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yslygi_orders](
	[id] [int] NOT NULL,
	[id_orders] [int] NOT NULL,
	[id_yslygi] [int] NOT NULL,
 CONSTRAINT [PK_yslygi_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[clients] ([id], [name], [ser], [nom], [dr], [adres], [mail], [password]) VALUES (45462526, N'Фролов Андрей Иванович', 1180, 176596, CAST(N'2001-07-14' AS Date), N'344288, г. Казань, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[clients] ([id], [name], [ser], [nom], [dr], [adres], [mail], [password]) VALUES (45462527, N'Николаев Даниил Всеволодович', 2280, 223523, CAST(N'2001-02-10' AS Date), N'614164, г. Казань, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[clients] ([id], [name], [ser], [nom], [dr], [adres], [mail], [password]) VALUES (45462528, N'Снегирев Макар Иванович', 4560, 354155, CAST(N'1998-05-21' AS Date), N'394242, г. Казань, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[orders] ([id], [date], [time], [id_client], [id_status], [date_close], [id_time]) VALUES (1, CAST(N'2022-03-12' AS Date), CAST(N'09:10:00' AS Time), 45462526, 1, NULL, 1)
INSERT [dbo].[orders] ([id], [date], [time], [id_client], [id_status], [date_close], [id_time]) VALUES (2, CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, 2, NULL, 2)
INSERT [dbo].[orders] ([id], [date], [time], [id_client], [id_status], [date_close], [id_time]) VALUES (3, CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, 2, NULL, 3)
GO
INSERT [dbo].[role] ([id], [role]) VALUES (1, N'boriga')
INSERT [dbo].[role] ([id], [role]) VALUES (2, N'admin')
INSERT [dbo].[role] ([id], [role]) VALUES (3, N'starshiy')
GO
INSERT [dbo].[sotryd] ([id], [id_role], [fio], [login], [password], [date_vhod], [id_vhod]) VALUES (101, 1, N'Иванов Иван Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', CAST(N'2022-05-15' AS Date), 1)
INSERT [dbo].[sotryd] ([id], [id_role], [fio], [login], [password], [date_vhod], [id_vhod]) VALUES (102, 1, N'Петров Петр Петрович', N'petrov@namecomp.ru', N'uzWC67', CAST(N'2022-05-15' AS Date), 1)
INSERT [dbo].[sotryd] ([id], [id_role], [fio], [login], [password], [date_vhod], [id_vhod]) VALUES (103, 2, N'Федоров Федор Федорович', N'fedorov@namecomp.ru', N'8ntwUp', CAST(N'2022-05-15' AS Date), 1)
GO
INSERT [dbo].[status] ([id], [status]) VALUES (1, N'Новая')
INSERT [dbo].[status] ([id], [status]) VALUES (2, N'В прокате')
INSERT [dbo].[status] ([id], [status]) VALUES (3, N'Закрыта')
GO
INSERT [dbo].[time_prokat] ([id], [time]) VALUES (1, N'120 минут')
INSERT [dbo].[time_prokat] ([id], [time]) VALUES (2, N'600 минут')
INSERT [dbo].[time_prokat] ([id], [time]) VALUES (3, N'2 часа')
GO
INSERT [dbo].[type_vhod] ([id], [type]) VALUES (1, N'успешно')
INSERT [dbo].[type_vhod] ([id], [type]) VALUES (2, N'неуспешно')
GO
INSERT [dbo].[yslygi] ([id], [name], [code], [price]) VALUES (31, N'Прокат сноуборда', N'JUR8R', 1200)
INSERT [dbo].[yslygi] ([id], [name], [code], [price]) VALUES (34, N'Прокат обуви для сноуборда', N'JKFBJ09', 400)
INSERT [dbo].[yslygi] ([id], [name], [code], [price]) VALUES (44, N'Прокат коньков', N'DHBGFY563', 900)
GO
INSERT [dbo].[yslygi_orders] ([id], [id_orders], [id_yslygi]) VALUES (1, 1, 34)
INSERT [dbo].[yslygi_orders] ([id], [id_orders], [id_yslygi]) VALUES (2, 1, 31)
INSERT [dbo].[yslygi_orders] ([id], [id_orders], [id_yslygi]) VALUES (3, 1, 353)
GO
USE [master]
GO
